{% extends 'base.html.twig' %}

{% block title %} Squash Connection - User Homepage {% endblock %}

{% block body_id 'user_homepage'%}

{% block header %}

{% include 'user/_header_user_homepage.html.twig' %}

{% endblock %}

{% block body %}
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Gender</th>
							<th>Country</th>
							<th>Level</th>
							<th>Contact</th>
						</tr>
					</thead>
					<tbody>
						{% for player in players %}
							<tr>
								<td>{{ player.name }} {{ player.lastName }}</td>
								<td>Masculine</td>
								<td>Argentina</td>
								<td>{{ player.playingLevel }}</td>
								<td><span class="glyphicon glyphicon-envelope"></span></td>
							</tr>
						{% endfor %}
					</tbody>	
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}