
html {
  	position: relative;
	min-height: 100%;
}

body{
	margin-bottom: 121px;
}

/* Logo */
#logo{
	margin-top: -10px;
}

.homepage_background{
  background-image: url('img/squash2.jpg');
  background-size: cover;
}

#club_signUp{
  
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 121px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 121px;
  background-color: black;
}

@media only screen and (max-width: 768px){
  .footer{
    height: 329px;
  }
  body{
    margin-bottom: 329px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .footer{
    height: 161px;
  }
  body{
    margin-bottom: 161px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
  .footer{
    height: 141px;
  }
  body{
    margin-bottom: 141px;
  }
}


#user_signUp .content{
	margin-top: 40px;
}

#club_signUp .content{
	margin-top: 40px; 
}

.content{
	margin-top: 40px;
}

.login_box{
	margin-top: 40px; 
}


table tbody td{
	text-align: center;
}

table thead th{
  text-align: center;
}

.message{
  padding: 1em 1em 0.5em 1em;
}

.message h6{
  padding-top: 0.5em;
}

