
html {
  	position: relative;
	min-height: 100%;
}

body{
	margin-bottom: 121px;
}

/* Logo */
#logo{
	margin-top: -10px;
}

.homepage_background{
  background-image: url('img/squash2.jpg');
  background-size: cover;
}

#club_signUp{
  background-image: url('img/squash3.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 121px;
	background-color: black;
}

.footer p{
	color: white;
}

.footer a img{
	border-style: solid;
	border-color: white;
}

#user_signUp .content{
	margin-top: 40px;
}

#club_signUp .content{
	margin-top: 40px; 
}

.content{
	margin-top: 40px;
}

.login_box{
	margin-top: 40px; 
}


table tbody td{
	text-align: center;
}