
html {
  	position: relative;
	min-height: 100%;
}

body{
	margin-bottom: 121px;
}

/* Logo */
#logo{
	margin-top: -10px;
}

.homepage_background{
  background-image: url('img/squash2.jpg');
  background-size: cover;
}

#club_signUp{
  background-image: url('img/squash3.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 487px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 329px;
  background-color: black;
}


#user_signUp .content{
	margin-top: 40px;
}

#club_signUp .content{
	margin-top: 40px; 
}

.content{
	margin-top: 40px;
}

.login_box{
	margin-top: 40px; 
}


table tbody td{
	text-align: center;
}

table thead th{
  text-align: center;
}
