{% extends 'base.html.twig' %}

{% block title %} Squash Connection - Login {% endblock %}

{% block body_id 'login'%}

{% block header %}

	{% include 'default/_header_general_pages.html.twig' %}

{% endblock %}

{% block body %}
    {% if request.pathInfo == "/admin" %}
        {% set action = path('admin_login_check') %}
    {% elseif request.pathInfo == "/login" %}
        {% set action = path('login_check') %}
    {% endif %}
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="panel panel-primary login_box">
					<div class="panel-heading">
						<h3 class="panel-title">Login</h3>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" action="{{ action }}" method="post">
							<div class="form-group">
    							<label for="username" class="col-sm-3 control-label">Username</label>
    							<div class="col-sm-9">
    								<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
    							</div>
    						</div>
    						<div class="form-group {% if error %}has-error{% endif %}">
    							<label for="password" class="col-sm-3 control-label">Password</label>
    							<div class="col-sm-9">
    								<input type="password" class="form-control" id="password" name="_password" />
    								{% if error %}
    									<span class="help-block">
    										<ul class="list-unstyled">
    											<li>
    												<span class="glyphicon glyphicon-exclamation-sign">Invalid Credentials</span>
    											</li>
    										</ul>
    									</span>
									{% endif %}
    							</div>
    						</div>
    						<div class="form-group">
        						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" /> 
        						<div class="col-sm-3 col-sm-offset-5">
	    							<button type="submit" class="btn btn-primary">Login</button>
    							</div>
    						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}